@model List<Author>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <a asp-action="create" class="btn btn-primary">Create</a>
               
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">FullName</th>
                        <th scope="col">BirthDate</th>
                        <th scope="col">BookCount</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var author in Model)
                     {
                        count++;
                      <tr>
                        <th scope="row">@count</th>
                        <td>@author.FullName</td>
                        <td>@author.BirthDate.ToString("dd-MM-yyyy")</td>
                        <td>@author.Books.Count()</td>
                        <td>
                            <a asp-action="edit" asp-route-id="@author.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="delete" asp-route-id="@author.Id" class="btn btn-danger">Delete</a>
                        </td>
                      </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>


